In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Airbnb.csv')

C:\Users\vicky\AppData\Local\Temp\ipykernel_17792\4255372443.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Airbnb.csv')

In [3]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [67]:
df.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [68]:
# 1
df = df.drop_duplicates(subset='id')

In [69]:
df = df.dropna(subset=['id'])

In [70]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,Room & private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [71]:
# 2
df['NAME'] = df['NAME'].astype(str).str.strip()

In [72]:
df = df.dropna(subset=['NAME'])

In [73]:
df['NAME'] = df['NAME'].str.replace(r'[^\x00-\x7F]+', '', regex=True)

In [74]:
df['NAME']

0                       Clean & quiet apt home by the park
1                                    Skylit Midtown Castle
2                      THE VILLAGE OF HARLEM....NEW YORK !
3                                                      nan
4         Entire Apt: Spacious Studio/Loft by central park
                                ...
102053                 Cozy bright room near Prospect Park
102054           Private Bedroom with Amazing Rooftop View
102055       Pretty Brooklyn One-Bedroom for 2 to 4 people
102056          Room & private bathroom in historic Harlem
102057                                     Rosalee Stewart
Name: NAME, Length: 102058, dtype: object

In [75]:
# 3
df['host id'] = pd.to_numeric(df['host id'], errors='coerce')

In [76]:
df = df.dropna(subset=['host id'])

In [77]:
df['host id']

0         80014485718
1         52335172823
2         78829239556
3         85098326012
4         92037596077
             ...
102053    77326652202
102054    45936254757
102055    23801060917
102056    15593031571
102057    93578954226
Name: host id, Length: 102058, dtype: int64

In [78]:
# 4
df['host name'] = df['host name'].astype(str).str.strip()

In [79]:
df = df.dropna(subset=['host name'])

In [80]:
df['host name'] = df['host name'].str.replace(r'[^A-Za-z0-9 ]+', '', regex=True)

In [81]:
df['host name']

0         Madaline
1            Jenna
2            Elise
3            Garry
4           Lyndon
            ...
102053      Mariam
102054        Trey
102055     Michael
102056     Shireen
102057     Stanley
Name: host name, Length: 102058, dtype: object

In [82]:
# 5
df = df.dropna(subset=['neighbourhood'])

In [83]:
df['neighbourhood'] = df['neighbourhood'].str.title()

In [84]:
df['neighbourhood']

0                 Kensington
1                    Midtown
2                     Harlem
3               Clinton Hill
4                East Harlem
                 ...
102053              Flatbush
102054              Bushwick
102055    Bedford-Stuyvesant
102056                Harlem
102057                Harlem
Name: neighbourhood, Length: 102042, dtype: object

In [85]:
# 6
df = df.dropna(subset=['lat', 'long'])

In [86]:
df = df[(df['lat'].between(-90, 90)) & (df['long'].between(-180, 180))]

In [87]:
df[['lat','long']]

             lat      long
0       40.64749 -73.97237
1       40.75362 -73.98377
2       40.80902 -73.94190
3       40.68514 -73.95976
4       40.79851 -73.94399
...          ...       ...
102053  40.64945 -73.96108
102054  40.69872 -73.92718
102055  40.67810 -73.90822
102056  40.81248 -73.94317
102057  40.81315 -73.94747

[102034 rows x 2 columns]

In [88]:
# 7
df['country'] = df['country'].astype(str).str.strip()

In [89]:
df['country code'] = df['country code'].astype(str).str.strip()

In [90]:
df['instant_bookable'] = df['instant_bookable'].astype(str).str.strip()

In [91]:
df['cancellation_policy'] = df['cancellation_policy'].astype(str).str.strip()

In [92]:
df[['country','country code','instant_bookable','cancellation_policy']]

              country country code instant_bookable cancellation_policy
0       United States           US            False              strict
1       United States           US            False            moderate
2       United States           US             True            flexible
3       United States           US             True            moderate
4       United States           US            False            moderate
...               ...          ...              ...                 ...
102053  United States           US             True            moderate
102054  United States           US            False            flexible
102055  United States           US             True            moderate
102056  United States           US             True              strict
102057  United States           US            False            flexible

[102034 rows x 4 columns]

In [93]:
# 8
df = df.dropna(subset=['room type'])

In [94]:
df['room type'] = df['room type'].str.title()

In [95]:
df['room type']

0            Private Room
1         Entire Home/Apt
2            Private Room
3         Entire Home/Apt
4         Entire Home/Apt
               ...
102053       Private Room
102054       Private Room
102055    Entire Home/Apt
102056       Private Room
102057    Entire Home/Apt
Name: room type, Length: 102034, dtype: object

In [96]:
# 9
df['Construction year'] = pd.to_numeric(df['Construction year'], errors='coerce')

In [97]:
df['Construction year']

0         2020.0
1         2007.0
2         2005.0
3         2005.0
4         2009.0
           ...
102053       NaN
102054       NaN
102055       NaN
102056       NaN
102057    2011.0
Name: Construction year, Length: 102034, dtype: float64

In [98]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,nan,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,3/27/2019,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,8/31/2017,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,6/26/2019,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102056,57366865,Room & private bathroom in historic Harlem,15593031571,unconfirmed,Shireen,Manhattan,Harlem,40.81248,-73.94317,United States,...,NaN,2.0,0.0,NaN,NaN,1.0,1.0,0.0,Each of us is working and/or going to school a...,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,6/15/2019,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [99]:
# 10
df['price'] = df['price'].replace('[\$,]', '', regex=True)

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\vicky\AppData\Local\Temp\ipykernel_18752\2676920212.py:2: SyntaxWarning: invalid escape sequence '\$'
  df['price'] = df['price'].replace('[\$,]', '', regex=True)

In [100]:
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [101]:
df = df.dropna(subset=['price'])

In [102]:
df = df[df['price'] > 0]

In [103]:
df['price']

0          966.0
1          142.0
2          620.0
3          368.0
4          204.0
           ...
102053     696.0
102054     909.0
102055     387.0
102056     848.0
102057    1128.0
Name: price, Length: 101788, dtype: float64

In [104]:
# 11
df['service fee'] = df['service fee'].replace('[\$,]', '', regex=True)

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
C:\Users\vicky\AppData\Local\Temp\ipykernel_18752\1565894044.py:2: SyntaxWarning: invalid escape sequence '\$'
  df['service fee'] = df['service fee'].replace('[\$,]', '', regex=True)

In [105]:
df['service fee'] = pd.to_numeric(df['service fee'], errors='coerce')

In [106]:
df['service fee']

0         193.0
1          28.0
2         124.0
3          74.0
4          41.0
          ...
102053      NaN
102054      NaN
102055      NaN
102056      NaN
102057      NaN
Name: service fee, Length: 101788, dtype: float64

In [107]:
# 12
df['minimum nights'] = pd.to_numeric(df['minimum nights'], errors='coerce')

In [108]:
df = df.dropna(subset=['minimum nights'])

In [109]:
df = df[df['minimum nights'] > 0]

In [110]:
df['minimum nights']

0         10.0
1         30.0
2          3.0
3         30.0
4         10.0
          ...
102053     7.0
102054     1.0
102055     2.0
102056     2.0
102057     4.0
Name: minimum nights, Length: 101376, dtype: float64

In [111]:
# 13
df['number of reviews'] = pd.to_numeric(df['number of reviews'], errors='coerce')

In [112]:
df = df.dropna(subset=['number of reviews'])

In [113]:
df = df[df['number of reviews'] >= 0]

In [114]:
df['number of reviews']

0           9.0
1          45.0
2           0.0
3         270.0
4           9.0
          ...
102053     12.0
102054     19.0
102055     50.0
102056      0.0
102057     22.0
Name: number of reviews, Length: 101195, dtype: float64

In [115]:
# 14
df['last review'] = pd.to_datetime(df['last review'], errors='coerce')

In [116]:
df = df.dropna(subset=['last review'])

In [117]:
df['last review']

0        2021-10-19
1        2022-05-21
3        2019-07-05
4        2018-11-19
5        2019-06-22
            ...
102052   2019-07-01
102053   2019-03-27
102054   2017-08-31
102055   2019-06-26
102057   2019-06-15
Name: last review, Length: 85576, dtype: datetime64[ns]

In [118]:
# 15
df['availability 365'] = pd.to_numeric(df['availability 365'], errors='coerce')

In [119]:
df = df.dropna(subset=['availability 365'])

In [120]:
df = df[df['availability 365'].between(0, 365)]

In [122]:
df['availability 365']

0         286.0
1         228.0
3         322.0
4         289.0
6         224.0
          ...
102052    323.0
102053      0.0
102054      0.0
102055    235.0
102057    238.0
Name: availability 365, Length: 82857, dtype: float64

In [123]:
# 16
df['reviews per month'] = pd.to_numeric(df['reviews per month'], errors='coerce')

In [124]:
df = df.dropna(subset=['reviews per month'])

In [125]:
df = df[df['reviews per month'] >= 0]

In [126]:
df['reviews per month']

0         0.21
1         0.38
3         4.64
4         0.10
6         0.40
          ...
102052    3.65
102053    0.44
102054    0.72
102055    3.12
102057    0.85
Name: reviews per month, Length: 82847, dtype: float64

In [127]:
df

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,193.0,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,28.0,30.0,45.0,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
3,1002755,nan,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,74.0,30.0,270.0,2019-07-05,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,41.0,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
6,1004650,BlissArtsSpace!,61300605564,NaN,Alberta,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,...,14.0,45.0,49.0,2017-10-05,0.40,5.0,1.0,224.0,Please no shoes in the house so bring slippers...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102052,57364656,"Private, cozy & quiet room in Inwood Manhattan",74740790774,unconfirmed,Zhoe,Manhattan,Inwood,40.86857,-73.91577,United States,...,NaN,4.0,95.0,2019-07-01,3.65,2.0,1.0,323.0,This place is about enjoying good times and th...,NaN
102053,57365208,Cozy bright room near Prospect Park,77326652202,unconfirmed,Mariam,Brooklyn,Flatbush,40.64945,-73.96108,United States,...,NaN,7.0,12.0,2019-03-27,0.44,5.0,1.0,0.0,Shoes off Clean After yourself Turn Lights and...,NaN
102054,57365760,Private Bedroom with Amazing Rooftop View,45936254757,verified,Trey,Brooklyn,Bushwick,40.69872,-73.92718,United States,...,NaN,1.0,19.0,2017-08-31,0.72,3.0,2.0,0.0,#NAME?,NaN
102055,57366313,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,verified,Michael,Brooklyn,Bedford-Stuyvesant,40.67810,-73.90822,United States,...,NaN,2.0,50.0,2019-06-26,3.12,4.0,2.0,235.0,* Check out: 10am * We made an effort to keep ...,NaN
102057,57367417,Rosalee Stewart,93578954226,verified,Stanley,Manhattan,Harlem,40.81315,-73.94747,United States,...,NaN,4.0,22.0,2019-06-15,0.85,4.0,1.0,238.0,Please remember that this is a residential bui...,NaN

In [128]:
cp= [
    'id', 'NAME', 'host id', 'host name', 'neighbourhood', 'lat', 'long',
    'country', 'country code', 'instant_bookable', 'cancellation_policy',
    'room type', 'Construction year', 'price', 'service fee',
    'minimum nights', 'number of reviews', 'last review',
    'availability 365', 'reviews per month'
]

In [62]:
dp = df[cp]

In [63]:
dp

Empty DataFrame
Columns: [id, NAME, host id, host name, neighbourhood, lat, long, country, country code, instant_bookable, cancellation_policy, room type, Construction year, price, service fee, minimum nights, number of reviews, last review, availability 365, reviews per month]
Index: []

In [61]:
dp.to_csv('Air.csv', index=False)

In [4]:
dsfd=pd.read_csv('Air.csv')

In [5]:
dsfd

,id,NAME,host id,host name,neighbourhood,lat,long,country,country code,instant_bookable,cancellation_policy,room type,Construction year,price,service fee,minimum nights,number of reviews,last review,availability 365,reviews per month
0,1001254,Clean & quiet apt home by the park,80014485718,Madaline,Kensington,40.64749,-73.97237,United States,US,False,strict,Private Room,2020.0,966.0,193.0,10.0,9.0,2021-10-19,286.0,0.21
1,1002102,Skylit Midtown Castle,52335172823,Jenna,Midtown,40.75362,-73.98377,United States,US,False,moderate,Entire Home/Apt,2007.0,142.0,28.0,30.0,45.0,2022-05-21,228.0,0.38
2,1002755,NaN,85098326012,Garry,Clinton Hill,40.68514,-73.95976,United States,US,True,moderate,Entire Home/Apt,2005.0,368.0,74.0,30.0,270.0,2019-07-05,322.0,4.64
3,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,Lyndon,East Harlem,40.79851,-73.94399,United States,US,False,moderate,Entire Home/Apt,2009.0,204.0,41.0,10.0,9.0,2018-11-19,289.0,0.10
4,1004650,BlissArtsSpace!,61300605564,Alberta,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,False,moderate,Private Room,2015.0,71.0,14.0,45.0,49.0,2017-10-05,224.0,0.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82842,57364656,"Private, cozy & quiet room in Inwood Manhattan",74740790774,Zhoe,Inwood,40.86857,-73.91577,United States,US,True,flexible,Private Room,NaN,1183.0,NaN,4.0,95.0,2019-07-01,323.0,3.65
82843,57365208,Cozy bright room near Prospect Park,77326652202,Mariam,Flatbush,40.64945,-73.96108,United States,US,True,moderate,Private Room,NaN,696.0,NaN,7.0,12.0,2019-03-27,0.0,0.44
82844,57365760,Private Bedroom with Amazing Rooftop View,45936254757,Trey,Bushwick,40.69872,-73.92718,United States,US,False,flexible,Private Room,NaN,909.0,NaN,1.0,19.0,2017-08-31,0.0,0.72
82845,57366313,Pretty Brooklyn One-Bedroom for 2 to 4 people,23801060917,Michael,Bedford-Stuyvesant,40.67810,-73.90822,United States,US,True,moderate,Entire Home/Apt,NaN,387.0,NaN,2.0,50.0,2019-06-26,235.0,3.12
82846,57367417,Rosalee Stewart,93578954226,Stanley,Harlem,40.81315,-73.94747,United States,US,False,flexible,Entire Home/Apt,2011.0,1128.0,NaN,4.0,22.0,2019-06-15,238.0,0.85

In [6]:
dsfd.isnull().sum()

id                       0
NAME                   243
host id                  0
host name              367
neighbourhood            0
lat                      0
long                     0
country                466
country code            83
instant_bookable        60
cancellation_policy     44
room type                0
Construction year      140
price                    0
service fee            208
minimum nights           0
number of reviews        0
last review              0
availability 365         0
reviews per month        0
dtype: int64